{%extends "base.html" %}
{%block body_block%}
          <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <h1>Welcome {{request.user}}</h1>
                <table class="table">
                   <tr>
                        <th>Id</th>
                        <th>user</th>
                        <th>task_name</th>
                        <th>status</th>
                       <th>Action</th>
                   </tr>
                    {%for todo in todos%}
                         {%if todo.completed%}
                               <tr class="table-success">
                         {%else%}
                               <tr class="table-danger">
                         {%endif%}
                        <td>{{todo.id}}</td>
                        <td>{{todo.user}}</td>
                        <td>{{todo.task_name}}</td>
                        <td>{{todo.status}}</td>
                     <td>
                         <a href="{%url 'detail' todo.id%}" class="btn btn-outline-warning">View</a>
                         <a href="{%url 'edit' todo.id%}" class="btn btn-outline-primary">Edit</a>
                         <a href="{%url 'remove' todo.id%}" class="btn btn-outline-danger">Delete</a>
                     </td>
                     </tr>
                    {%endfor%}
                </table>
                </div>
           </div>

  </div>

{%endblock%}